version: "3.9"

services:
  traefik:
    image: traefik:v3.5
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entryPoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - app-net

  web1:
    container_name: web1
    build: ./frontend
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - 'traefik.http.routers.web.rule=Host(`localhost`) && PathPrefix(`/`)'
      - "traefik.http.routers.web.entrypoints=web"
      - "traefik.http.services.web.loadbalancer.server.port=80"
    networks:
      - app-net

  web2:
    container_name: web2
    build: ./frontend
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.web.loadbalancer.server.port=80"
    networks:
      - app-net
  
  backend:
    build: ./backend
    container_name: backend
    volumes:
      - ./backend:/app
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
    labels:
      - "traefik.enable=true"
      - 'traefik.http.routers.api.rule=Host(`localhost`) && PathPrefix(`/api`)'
      - "traefik.http.routers.api.entrypoints=web"
      - "traefik.http.services.api.loadbalancer.server.port=5000"
    networks:
      - app-net

networks:
  app-net: {}
